@{
    ViewData["Title"] = "Página de Inicio";
}

<div class="text-center">
    <h1 class="display-4">¡Bienvenido al Sistema de Gestion de Citas!</h1>

    <p>Puedes ir a la administración de citas aquí:</p>
    <a asp-controller="AppointmentAdm" asp-action="Index" class="btn btn-primary">Ir a Citas</a>
</div>