@model SGMC.Application.Dto.Medical.SpecialtyDto
@{
    ViewData["Title"] = "Eliminar Especialidad";
}

<h1>Eliminar Especialidad</h1>

<h3 class="text-danger">¿Está seguro de que desea eliminar esta especialidad?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">ID:</dt>
        <dd class="col-sm-10">@Model.SpecialtyId</dd>
        <dt class="col-sm-2">Nombre:</dt>
        <dd class="col-sm-10"><strong>@Model.SpecialtyName</strong></dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="SpecialtyId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>